.loader {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 0.5s linear infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

.big_button {
    font-size: 1vw;
    width: calc(30% - 0.3em);
    height: 100%;
    margin: 0 0.3em 0 0.3em;
    border-radius: 4em;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 15px;
    moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-image: linear-gradient(to right, #c22535, #eb3941, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.big_button:hover {
    background-position: 100% 0;
    moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.big_button:focus {
    outline: none;
}
