.search {
    position: relative;
}

.input {
    padding: 1em;
    width: 100%;
    height: 38px;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input::placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1vh 0 0 0;
    overflow-Y: auto;
    overflow-X: hidden;
    height: calc(100% - 40px);
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resultCount {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: lightGray;
    padding: 2px;
    border-radius: 2px;
    z-index: 5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resultCount.shown {
    display:inline-block; 
}

.openButton {
    position: absolute;
    top: -3px;
    right: 5px;
    background-color: #c22535;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    width: 25px;
    height: 25px;


    transition: background-color 0.3s, box-shadow 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.openButton:hover {
    background-color: #e63946;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input::-ms-clear {
    display: none;
}

.input::-webkit-search-cancel-button {
    display: none;
}
/*
@-moz-document url-prefix() {
    .resultCount {
        bottom: calc(-980%);
    }
}
*/