.modalHeader {
    background-color: #c22535;
    color: #ffffff;
    border-radius: 16px 16px 0 0;
    font-size: 24px;
    padding: 35px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modalHeader h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: default;
}

.heading {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.modalContent {
    box-sizing: border-box;
    max-height: calc(100vh - 225px);
    overflow-y: auto;
}

.modalActions {
    align-items: center;
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.actionsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.closeBtn {
    align-self: flex-end;
    border: none;
    background: transparent;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-right: 2px;
    margin-top: 2px;
    padding: 4px 4px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.3s, box-shadow 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.closeBtn:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.cancelBtn {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    transition: transform 0.25s ease, background-color 0.3s ease;
    background-color: #c22535;
    color: #ffffff;
    text-align: center;
}

.cancelBtn:hover {
    background-color: #e63946;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.setBtn {
    background-color: #c22535;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

.setBtn:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 12px;
    background-color: inherit;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.setBtn:hover:before {
    opacity: 0.5;
}

.addButton {
    background-color: #c22535;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.addButton:hover {
    background-color: #e63946;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fieldContainer {
    background-color: #e1e1e1;
    display: grid;
    grid-template-columns: 0.8fr 100px 0.5fr 150px 42px 150px 1fr 20px 1fr;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
    min-height: min-content;
    min-width: min-content;
}

.labelVarname,
.labelEquals,
.labelCheckbox {
    text-align: center;
    padding: 0.4em 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #f3f3f3;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.bindingName {
    font-weight: bold;
    color: #333;
    background-color: #f3f3f3;
    padding: 0.4em 0.5em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-overflow: ellipsis;
}

.bindingRow {
    display: grid;
    grid-template-columns: 1.5fr 4fr 1fr 0.4fr 1fr 0.4fr 0.1fr;
    align-items: center;
    grid-gap: 10px;
    border-bottom: none;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), opacity 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: auto;
    overflow-y: hidden;
    padding: 0;
}

.bindingRow.removing {
    opacity: 0;
    max-height: 0;
}

.bindingRowActive {
    max-height: 50px;
    opacity: 1;
    padding: 5px;
    border-bottom: 1px solid #e1e1e1;
}

.bindingExpression {
    text-align: left;
    color: #444;
    font-size: 0.9em;
}

.bindingRemove {
    background: none;
    border: none;
    justify-self: end;
}

.bindingRemove:hover {
    background: none;
    cursor: pointer;
}

.errorIcon {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    color: #a00;
}

.input {
    background: none;
    border: none;
    border-bottom: 2px solid #aaa;
    border-radius: 2px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border-bottom-color 0.3s ease-in-out;
}

.inputWrapper {
    position: relative;
}

.operatorSelector {
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.25s ease, background-color 0.3s ease;
    background-color: #6c757d;
    color: #ffffff;
    text-align-last: center;
    appearance: none;
    position: relative;
}

.operatorButton:hover {
    background-color: #5a6268;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkbox {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #aaa;
    border-radius: 2px;
}

.bindingBuilder {
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), opacity 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: auto;
    overflow-y: hidden;
    padding: 0;
}

.showBindingBuilder .bindingBuilder {
    max-height: 80px;
    opacity: 1;
}

.toggleButton {
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    padding: 5px;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.toggleButton:hover {
    background-color: #e1e1e1;
}

.toggleButton>svg {
    font-size: 24px;
    transition: transform 0.3s;
}

/* For Firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Chrome, Safari, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Edge and Internet Explorer */
input[type="number"]::-ms-clear {
    display: none;
}