.file_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.4em;
    font-size: 1vw;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #c22535;
    transition: background-color 0.3s, box-shadow 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3em;
}

.file_button:hover {
    background-color: #e63946;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .file_button {
        font-size: 2vw;
    }
}