.container {
    display: flex;
    height: 25vh;
    padding: 0;
    margin: 0;
}

.controlColumn,
.queryColumn {
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    box-sizing: border-box;
}

.resultsColumn {
    width: 50%;
    padding: 0.5em;
}

.buttonRow {
    display: block;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 0 0.3em 0;
}

.big_button,
.var_button,
.del_button {
    margin: 0 0 0.4em 0;
    font-size: 1vw;
    width: 100%;
    height: 100%;
    border-radius: 4em;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    background-image: linear-gradient(to right, #c22535, #eb3941, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.var_button {
    width: 70%;
}

.del_button {
    width: calc(30% - 0.3em);
    margin: 0 0.3em 0 0;
}

.big_button:hover,
.var_button:hover,
.del_button:hover {
    background-position: 100% 0;
}

.big_button:focus,
.var_button:focus,
.del_button:focus {
    outline: none;
}