.container {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
}

.controlColumn {
    display: inline-block;
    width: 20%;
    border: solid;
}

.resultsColumn {
    display: inline-block;
    width: 55%;
    border: solid;
}

.queryColumn {
    display: inline-block;
    width: 25%;
    border: solid;
}

.buttonRow {
    display: block;
    white-space: nowrap;
}

.big_button {
    margin: 10%;
    text-align: center;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0.5em 1em 0.5em 1em;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 15px;
    moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-image: linear-gradient(to right, #c22535, #eb3941, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.big_button:hover {
    background-position: 100% 0;
    moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.big_button:focus {
    outline: none;
}

.var_button {
    margin: 10%;
    text-align: center;
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0.5em 0em 0.5em 1em;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 15px;
    moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-image: linear-gradient(to right, #c22535, #eb3941, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.var_button:hover {
    background-position: 100% 0;
    moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.var_button:focus {
    outline: none;
}