.resTable {
  width: 100%;
  display: grid;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
}

.resThead,
.resTbody,
.resTr {
  display: contents;
}

/* Add this to your CSS */
.resThead th {
  max-height: 20px;
  border-bottom: 2px solid #ccc;
}


.resTh {
  position: relative;
  font-size: 18px;
}

.resTable .resTh,
.resTable .resTd {
  text-align: left;
  min-width: 100px;
}

.resSpan {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.resTable .resTr .resTd {
  border-top: 1px solid #ccc;
}

.resizeHandle {
  display: block;
  position: absolute;
  cursor: col-resize;
  width: 7px;
  right: 0;
  top: 0;
  z-index: 10;
  border-right: 2px solid transparent;
}

.resizeHandle:hover {
  border-color: #f47e7e;
}

.resizeHandle.active {
  border-color: #c22535;
}

.resTable::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.resTable::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.resTable::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}