.loader {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 0.5s linear infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

.big_button {
    user-select: none;
    display: inline-block;
    padding: 2px;
    font-size: 1vw;
    width: calc(30%);
    height: 100%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #c22535;
    transition: background-color 0.3s, box-shadow 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.big_button:hover {
    background-color: #e63946;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.queryText {
    display: inline !important;
}

.queryIcon {
    display: none !important;
}

@media (max-width: 768px) {
    .big_button .queryText {
        display: none !important;
    }

    .big_button .queryIcon {
        display: inline-block !important;
        color: #ffffff;
        font-size: 4vw;
    }
}

.big_button.isLoading .queryText,
.big_button.isLoading .queryIcon {
    display: none !important;
}