* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  padding: 10px;
  margin: auto;
  background-color: #ecebeb;
  justify-content: center;
  flex-wrap: wrap;
  display: grid;
  height: 200vh;
}

.mainHeader {
  padding: 20px;
  color: black;
  font-size: 35px;
  text-align: center;
}

.big_button {
  margin: 10%;
  text-align: center;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 15px;
  moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-image: linear-gradient(to right, #c22535, #eb3941, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.big_button:hover {
  background-position: 100% 0;
  moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.big_button:focus {
  outline: none;
}
