* {
  margin: 0;
  padding: 0;
}

.pageContainer {
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ecebeb;
  padding: 10px;
  margin: auto;
}

.mainHeader {
  padding: 20px;
  color: black;
  font-size: 35px;
  text-align: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.textImageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.textContainer {
  flex: 1;
  text-align: center;
}

.introText {
  font-size: 24px;
  line-height: 1.5;
  color: #333;
}

.lesserText {
  font-size: 20px;
  font-style: italic;
  color: #666;
}

.imageWrapper {
  position: relative;
  margin: 10px;
  width: 100%;
}

.imageWrapper img {
  width: 100%;
  height: auto;

}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.big_button {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(to right, #c22535, #eb3941, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.big_button:hover {
  background-position: 100% 0;
}

.big_button:focus {
  outline: none;
}

.scrollIndicator {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #c22535;
  border-radius: 50%;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.scrollIndicator:hover {
  opacity: 1;
}

.arrow {
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.designSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.linkList {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.linkListItem {
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #f8f8f8; /* Light gray background */
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  flex: 1;
  text-align: center;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkListItem:hover {
  background-color: #e9e9e9; /* Slightly darker on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* More pronounced shadow on hover */
}

.linkItem {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: bold;
  display: block; /* Makes the entire area clickable */
}

/* Color scheme based on the hover state */
.linkListItem:hover .linkItem1 { color: #ff6347; } /* Tomato */
.linkListItem:hover .linkItem2 { color: #4682b4; } /* SteelBlue */
.linkListItem:hover .linkItem3 { color: #32cd32; } /* LimeGreen */
.linkListItem:hover .linkItem4 { color: #ffa500; } /* Orange */
.linkListItem:hover .linkItem5 { color: #6a5acd; } /* SlateBlue */
.linkListItem:hover .linkItem6 { color: #ff1493; } /* DeepPink */
.linkListItem:hover .linkItem7 { color: #00ced1; } /* DarkTurquoise */

.hoverSquare {
  position: absolute;
  transition: top 0.3s ease, left 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
  opacity: 0.9;
}

.isHovering .hoverSquare {
  visibility: visible;
}

@media (max-width: 768px) {
  .contentContainer {
    padding: 10px;
  }

  .textImageContainer {
    flex-direction: column;
  }

  .imageWrapper {
    position: relative;
    margin: 10px 0;
  }

  .big_button {
    width: 150px;
    font-size: 14px;
  }

  .linkList {
    flex-direction: column;
  }

  .linkListItem {
    margin: 5px 0;
  }
}
