.queryContainer {
    padding: 10px;
    margin: auto;
    background-color: #ecebeb;
    display: flex;
    flex-wrap: wrap;
}

.constraint_container {
    margin: 0 1vw 0 0;
    flex: 1;
    max-width: 25%;
    height: 80vh;
}

.main_container {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.graph {
    flex: 1;
    background-color: aliceblue;
    border: solid;
}

.graph_wrapper {
    position: relative;
    display: inline-block;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 55px);
    background-color: #ecebeb;
    margin: 0;
    user-select: none;
    padding: 10px;
}

.loadingAnimation {
    position: relative;
    width: 100px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
}


.loadingAnimation:before,
.loadingAnimation:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid rgba(0, 0, 0, 0.1);
}

.loadingAnimation:before {
    border-top-color: #c22535;
    animation: spin 0.50s infinite linear;
}

.loadingAnimation:after {
    border-top-color: rgba(0, 0, 0, 0.4);
    animation: spin 0.75s infinite linear;
}

.loadingMessage {
    text-align: center;
    font-size: 2em;
    color: darkgray;
    margin-top: 20px;
    animation: fadeInOut 8s ease-in-out infinite;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fadeOut {
    animation: fadeOut 0.15s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 0.15s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.error_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: darkgray;
    font-size: 2em;
    margin: 0;
    padding: 10px;
}

.toggleTab {
    width: 100%;
    height: 18px;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    background-color: #c22535;
    color: #ffffff;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(2px);
}

.toggleTab:hover {
    background-color: #e63946;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.VarTrayWrapperActive~.toggleTab {
    transform: translateY(-calc(30vh + 2px));
}

.SearchNodesWrapperActive~.toggleTab {
    transform: translateY(calc(30vh - 18px));
}

.arrowIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    .constraint_container {
        position: relative;
        max-width: 100%;
        width: 90%;
        min-height: 30vh;
        margin: 0 auto;
        overflow: hidden;
    }

    .SearchNodesWrapper,
    .VarTrayWrapper {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(0);
        transition: transform 0.3s ease-in-out;
        overflow: hidden;
    }

    .SearchNodesWrapper {
        height: calc(60vh - 58px);
        transform-origin: top;
        z-index: 1;
    }

    .toggleTab {
        display: block;
    }

    .VarTrayWrapper {
        height: calc(60vh - 5px);
        transform-origin: bottom;
        z-index: 2;
    }

    .SearchNodesWrapperActive {
        transform: scaleY(1);
        z-index: 2;
    }

    .VarTrayWrapperActive {
        transform: scaleY(1);
        z-index: 1;
    }

    .arrowIcon {
        transition: transform 0.3s;
    }

    .arrowDown {
        transform: rotate(180deg);
    }

    .VarTrayWrapperActive~.toggleTab {
        top: 0;
        bottom: unset;
    }

    .queryContainer {
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 8px;
    }

    .main_container {
        max-width: 100%;
        width: 90%;
        height: auto;
        margin: 1em auto;
    }

    .error_screen {
        font-size: 1em;
    }

    .loadingMessage {
        font-size: 1em;
    }
}