.queryContainer {
    padding: 10px;
    margin: auto;
    background-color: #ecebeb;
    display: flex;
    flex-wrap: wrap;
}

.constraint_container {
    margin: 0 1vw 0 0;
    flex: 1;
    max-width: 25%;
    height: 80vh;
}

.graph_container {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.graph {
    flex: 1;
    background-color: aliceblue;
    border: solid;
}

.loadingContainer {
    padding: 10px;
    margin: auto;
    background-color: #ecebeb;
    min-height: calc(100vh - 55px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingAnimation {
    position: relative;
    width: 100px;
    height: 100px;
}

.loadingAnimation:before,
.loadingAnimation:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid rgba(0, 0, 0, 0.1);
}

.loadingAnimation:before {
    border-top-color: #c22535;
    animation: spin 0.50s infinite linear;
}

.loadingAnimation:after {
    border-top-color: rgba(0, 0, 0, 0.4);
    animation: spin 0.75s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fadeOut {
    animation: fadeOut 0.15s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 0.15s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}