.fadeEnter {
    opacity: 0;
    transform: translate(-50%, -100%);
}

.fadeEnterActive {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.fadeExit {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.fadeExitActive {
    opacity: 0;
    transform: translate(-50%, -100%);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.darkBG {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    background: white;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    position: relative;
    z-index: 1000;
    text-align: center;
}

.modalHeader {
    border-radius: 16px 16px 0 0;
    color: black;
    font-size: 25px;
    padding: 25px;
    text-align: center;
}

.heading {
    color: #2c3e50;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.modalContent {
    box-sizing: border-box;
    max-height: calc(100vh - 225px);
    overflow-y: auto;
}

.modalActions {
    align-items: center;
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.actionsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.closeBtn {
    align-self: flex-end;
    background: white;
    border: none;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-right: 2px;
    margin-top: 2px;
    padding: 4px 4px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.3s, box-shadow 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.closeBtn:hover {
    background-color: #ccc;
}

.cancelBtn {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 750;
    padding: 10px 20px;
    transition: transform 0.25s ease, background-color 0.3s ease;
    background-color: #fac2a6;
    transition: background-color 0.3s ease;
}

.setBtn {
    background-color: transparent;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 750;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

.setBtn:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 12px;
    background-color: inherit;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.setBtn:hover:before {
    opacity: 0.5;
}

.cancelBtn:hover {
    background-color: #e14e53;
}

.fieldContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, auto);
    padding: 10px;
}

.labelProperty,
.labelCheckbox {
    display: inline-block;
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}

.input {
    background: none;
    border: none;
    border-bottom: 2px solid #aaa;
    outline: none;
    transition: border-bottom-color 0.3s ease-in-out;
}

.checkbox {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #aaa;
    border-radius: 2px;
}

@media (max-width: 768px) {

    .labelProperty,
    .labelCheckbox {
        width: auto;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .modalHeader {
        font-size: 20px;
        padding: 15px;
    }

    .heading {
        font-size: 16px;
    }

    .modalActions {
        padding: 15px;
    }

    .cancelBtn,
    .setBtn {
        font-size: 0.7rem;
        padding: 8px 16px;
    }

    .fieldContainer {
        padding: 5px;
    }
}